<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <% include ../partials/header%>
</head>

<body>
    <% include ../partials/navbar%>
    <div class="container-fluid">
        <main role="main" class="pt-5 pt-sm-1">
            <div class="card border-light mx-1">
                <h3 class="card-header bg-transparent display-3" style="margin-top: 6vh;">Profile</h3>
                <div class="card-body">
                    <div class="card border-light">
                        <h4 class="card-title bg-transparent display-4">Update Profile</h4>
                        <div class="card-body">
                            <form class="form-horizontal" action="" method="POST">
                                <div class="panel-body form-control-sm">
                                    <div class="form-group row" >
                                        <h5 for="email" class="col-sm-2 col-form-label col-form-label display-4" style="font-size: x-large;">Email</h5>
                                        <div class="col-sm-5">
                                            <input type="email" style="font-size: x-large;" class="form-control form-control-lg" id="email"
                                                placeholder="<%= data.email %>" name="email" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <h5 for="password" class="col-sm-2 col-form-label col-form-label display-4" style="font-size: x-large;">Password
                                        </h5>
                                        <div class="col-sm-5">
                                            <input type="password" style="font-size: x-large;" class="form-control form-control-lg" id="password"
                                                placeholder="password" name="password">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <h5 for="firstname" class="col-sm-2 col-form-label col-form-label display-4" style="font-size: x-large;">First Name
                                        </h5>
                                        <div class="col-sm-5">
                                            <input type="firstname" class="form-control form-control-lg" style="font-size: x-large;" id=""
                                                placeholder="<%= data.firstname %>" name="firstname" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <h5 for="lastname" class="col-sm-2 col-form-label col-form-label display-4" style="font-size: x-large;">Last Name
                                        </h5>
                                        <div class="col-sm-5">
                                            <input type="lastname" class="form-control form-control-lg" id="" style="font-size: x-large;"
                                                placeholder="<%= data.lastname %>" name="lastname" readonly>
                                        </div>
                                    </div>

                                    <!-- =================POSITION================ -->

                                    <fieldset class="form-group">
                                        <div class="form-group row">
                                            <h5 for="gridRadios" class="col-sm-2 col-form-label col-form-label display-4" style="font-size: x-large;">Position</h5>
                                            <div class="col-sm-5" style="font-size: large;">
                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" name="role"
                                                        id="gridRadios1" value="Manager"
                                                        <%= data.role == 'Manager' ? ' checked' : '' %>>
                                                    <label class="custom-control-label" for="gridRadios1">
                                                        Manager
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" name="role"
                                                        id="gridRadios2" value="Software Developer"
                                                        <%= data.role == 'Software Developer' ? ' checked' : '' %>>
                                                    <label class="custom-control-label" for="gridRadios2">
                                                        Software Developer
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" name="role"
                                                        id="gridRadios3" value="Quality Assurance"
                                                        <%= data.role == 'Quality Assurance' ? ' checked' : '' %>>
                                                    <label class="custom-control-label" for="gridRadios3">
                                                        Quality Assurance
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <!-- TYPEJOB -->

                                    <div class="form-group row">
                                        <h5 class="col-sm-2 col-form-label col-form-label display-4" style="font-size: x-large;">Type</h5>
                                        <div class="col-12 col-sm-7">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" name="typejob"  type="checkbox"
                                                    id="typejob" value="true" <%= data.typejob ? ' checked' : '' %>>
                                                <label style="font-size: large;" class="custom-control-label" for="typejob">
                                                    Full-Time
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <button type="submit" style="font-size: large;" class="btn btn-outline-primary"><i
                                                    class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                Update</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <% include ../partials/footer%>
</body>

</html>