<% include ../partials/header%>

<div class="container-fluid">
    <div class="card border-light mx-1">
        <h3 class="card-header bg-transparent display-3">Projects</h3>
        <div class="card-body">
            <div class="card border-light">
                <h4 class="card-title bg-transparent display-4">Filters</h4>
                <div class="card-body">
                    <form class="form-horizontal" action="" method="GET">
                        <!-- ==================== FILTER ID ======================== -->

                        <div class="form-group row">
                            <div class="custom-control custom-checkbox col-12 col-sm-2">
                                <input type="checkbox" class="custom-control-input" for="" id="customCheck1" name="checkid">
                                <label class="custom-control-label" for="customCheck1" id=""  <%= query.checkid ? ' checked' : '' %>>ID</label>
                            </div>
                            <div class="col-12 col-sm-9">
                                <input type="text" class="form-control" id="id" placeholder="ID" name="projectid">
                            </div>
                        </div>

                        <!-- ==================== FILTER NAME ======================== -->

                        <div class="form-group row">
                            <div class="custom-control custom-checkbox col-12 col-sm-2">
                                <input type="checkbox" class="custom-control-input" for="" id="customCheck2" name="checkname">
                                <label class="custom-control-label" for="customCheck2" id="name"  <%= query.checkname ? ' checked' : '' %>>Name</label>
                            </div>
                            <div class="col-12 col-sm-9">
                                <input type="text" class="form-control" id="id" placeholder="Name" name="projectname">
                            </div>
                        </div>

                        <!-- ==================== FILTER MEMBER ======================== -->

                        <div class="form-group row">
                            <div class="custom-control custom-checkbox col-12 col-sm-2">
                                <input type="checkbox" class="custom-control-input" for="" id="customCheck3" name="checkmember">
                                <label class="custom-control-label" for="customCheck3" id="name" <%= query.checkmember ? ' checked' : '' %>>Member</label>
                            </div>
                            <div class="col-12 col-sm-9">
                                <select class="form-control" id="member" name="member">
                                    <option disabled selected>Choose the Member ...</option>
                                    <% elemen.forEach((item, i) => { %>
                                    <option value="<%= item %>">
                                        <%= flname[i] %>
                                    </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-outline-primary" >Search</button>
                                <button type="button" class="btn btn-outline-light"> <a
                                        href="/projects">Reset</a></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- ==================== OPTION ======================== -->

        <div class="card border-light mx-1">
            <div class="card-body">
                <div class="card border-light">
                    <h4 class="card-title bg-transparent display-4">Options</h4>
                    <div class="card-body">
                        <form action="" method="POST" class="form-check">
                            <div class="form-group row">
                                <h5 class="col-12 col-sm-5">
                                    Columns
                                </h5>
                                <div class="row col-12 col-sm-7">
                                    <div class="custom-control custom-checkbox col-12 col-sm-7">
                                        <input type="checkbox" class="custom-control-input" for="" id="opcheck1">
                                        <label class="custom-control-label" for="opcheck1" id="opid"
                                            name="opid">ID</label>
                                    </div>
                                    <div class="custom-control custom-checkbox col-12 col-sm-7">
                                        <input type="checkbox" class="custom-control-input" for="" id="opcheck2">
                                        <label class="custom-control-label" for="opcheck2" id="opname"
                                            name="opname">Name</label>
                                    </div>
                                    <div class="custom-control custom-checkbox col-12 col-sm-7">
                                        <input type="checkbox" class="custom-control-input" for="" id="opcheck3">
                                        <label class="custom-control-label" for="opcheck3" id="opmembers"
                                            name="opmembers">Members</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-outline-info">Apply</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ==================== TABLES ======================== -->

    <div class="card border-light mx-1">
        <div class="card-body">
            <div class="card border-light">
                <div class="card-body">
                    <div class="table-responsive table-responsive-sm table-responsive-md">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Members</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.forEach((item) => { %>
                                <tr>
                                    <td>
                                        <%= item.projectid %>
                                    </td>
                                    <td>
                                        <%= item.projectname %>
                                    </td>
                                    <td>
                                        <%= item.fullname %>
                                    </td>
                                    <td>
                                        <a href="/projects/edit/<%= item.projectid %>"
                                            class="btn btn-outline-success">EDIT</a>
                                        <a href="/projects/delete/<%= item.projectid %>"
                                            class="btn btn-outline-danger">DELETE</a>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item <%= page == 1 ? 'disabled': ''; %>"><a class="page-link"
                                        href="/projects?page=<%= parseInt(page) - 1%>">Previous</a></li>
                                <% for (let i = 1; i <= pages; i++) { %>
                                <li class="page-item <%= page == i ? 'active': ''; %>"><a class="page-link"
                                        href="/projects?page=<%= i %>">
                                        <%= i %></a></li>
                                <% }; %>
                                <li class="page-item <%= page == pages ? 'disabled': ''; %>"><a class="page-link"
                                        href="/projects?page=<%= parseInt(page) + 1%>">Next</a></li>
                            </ul>
                        </nav>
                        <div class="col-sm-10">
                            <a type="button" class="btn btn-outline-primary" href="/projects/add">Add Project
                                <!-- <i class="fa fa-plus" aria-hidden="true"></i>Add project -->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer%>